<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PerfectDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PerfectDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1610</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
